.home-main {
  font-size: 1.1rem;
  h1 {
    font-weight: 700;
    margin-bottom: 1em;
  }

  .intro {
    font-weight: 500;
    margin-bottom: 1em;
    font-size: 1.2rem;
  }
  .box-text-summary {
    color: rgba(0, 0, 0, 0.75);
  }

  .main-featured-box {
    border: 2px solid black;
    border-radius: 6px;
    font-weight: 500;
    background-color: #f1f1fc;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.1s ease-in-out;
    &:hover {
      transform: scale(1.015);
    }

    a {
      display: grid;
      grid-template-columns: 1fr 4fr;
      align-items: center;
      padding: 0.6em 0.8em;
    }
  }

  .box-text-heading {
    font-weight: 700;
    font-size: 1.1rem;
  }
  .main-subsection {
    margin: 1em 0;
    grid-column: 1 / 3;
    font-weight: 500;
  }
}
.cont-box-text > h3 {
  margin-bottom: 0.5em;
}
.home-main > h1 {
  font-size: 2rem;
  padding: 0.2em 0;
}

.main-heading {
  text-align: center;
  grid-column: 1 / 3;
  padding: 0.5em;
  background-color: #bebef2;
}

.main-financial,
.main-featured,
.main-health {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto 1fr;
  margin-bottom: 50px;
  column-gap: 1em;
}

.main-featured-box {
  margin: 0.4em auto;
  max-width: 500px;
  background-color: white;
}

svg {
  font-size: 2rem;
}

@media screen and (max-width: 500px) {
  .home-main {
    .main-featured-box {
      a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    svg {
      display: none;
    }
  }
}
