.loan-conversion {
  .converter {
    display: flex;
    flex-direction: column;
  }

  .cont-amount-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label {
      font-weight: 500;
      font-size: 1.1rem;
      margin: 0.5em 0;
    }

    input {
      max-width: 200px;
      font-size: 1.5rem;
      border: 3px solid #8338ec;
      text-align: center;
      padding: 0.3em 0;
    }

    .cont-amount-search {
      display: flex;
      align-items: center;
      position: relative;

      .amount-currency {
        position: absolute;
        left: 1.2em;
        font-size: 1.2rem;
      }
    }
  }
  .cont-interest-rate {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      max-width: 200px;
      font-size: 1.5rem;
      text-align: center;
      padding: 0.3em 0;
      border: 3px solid #8338ec;
    }
  }

  .cont-duration {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      margin: 0.4em 0;
    }

    input {
      max-width: 200px;
      padding: 0.3em 0;
      font-size: 1.5rem;
      text-align: center;
      border: 3px solid black;
    }
  }
}
